@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.recent-search-container {
  width: 100%;
  height: 130px;
  &__title {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
  &__cards-container {
    @include flexCenter(row, space-between, center);
    column-gap: 20px;;
    overflow-x: scroll;
    @include removeScrollBar;
  }
}