@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500;600&family=Hind:wght@300&display=swap');

/* Colors */
// $background-color: #FFFFFF;
$background-color: #fae5dc;
$palet-color-1: #91A290;
$palet-color-2: #DDD2AD;
$palet-color-3: #E3C47A;
$palet-color-4: #36352F;
$palet-color-5: #9F6941;
$palet-color-6: #BF9F66;
$palet-color-7: #BED3BE;

// $light-color: #EEDDC9;
$light-color: #E2CABE;

$dark-color: #000000;
// $greyish-color: #7b7b7b;
$greyish-color: #4F6F80;

$text-color: #012030;

/* Fonts */
$font-titles-source: 'Alegreya', serif;
$font-texts-source: 'Hind', sans-serif;
$regular-weight: 300;
$medium-weight: 500;
$semibold-weight: 600;

/* Screen sizes */
$mobile-max-width: 414px; 
$mobile-max-height: 869px; 
