@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.book-gallery-container {
  width: 100%;
  height: auto;
  &__list {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    @include flexCenter(row, space-between, center);
    &--options {
      list-style: none;
      font-size: 1.6rem;
      letter-spacing: 1px;
    }
  }
  &__book-card-container {
    margin-top: 20px;
    width: 100%;
    height: 500px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    overflow-y: scroll;
    @include removeScrollBar;
  }
}